<h1> All tasks </h1>
<%= link_to 'Create a new task', new_task_path %>
<% @tasks.each do |task| %>
	<h5><%= link_to task.title, task_path(task) %> </h5>
	<% if task.completed %>
		<p> <i class="far fa-check-square"></i> Task is complete!</p>
	<% else %>
		<p> <i class="fal fa-check-square"></i> Task is incomplete!</p>
	<% end %>
<% end %>
